.weather-container {
  text-align: center;
  margin: 20px;
}

.weather-form {
  margin-bottom: 20px;
}

/* Full width on smaller devices */
/* Adjust the maximum width as needed */
/* Include padding and border in the element's total width and height */
.weather-form input {
  padding: 8px;
  font-size: 16px;
  width: 100%; 
  max-width: 400px; 
  box-sizing: border-box; 
}

.weather-form button {
  padding: 8px 6px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #007bff; 
  border-radius: 10px; 
  background-color: transparent; 
  color: #007bff; 
  transition: background-color 0.3s, color 0.3s; 
  width: 100%; 
  max-width: 200px; 
  box-sizing: border-box; 
  margin-left: 5px;
}

.weather-form button:hover {
  /* Highlight color on hover */
  background-color: #007bff; 
  color: white; 
}

.weather-info, .forecast-info {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.weather-info h2, .forecast-info h3 {
  margin-bottom: 10px;
}

.weather-info img {
  width: 50px;
  height: 50px;
}

.forecast-info {
  margin-top: 30px;
}

.forecast-container {
  display: flex;
  /* Wrap items to next line on small screens */
  flex-wrap: wrap; 
  /* Space between forecast items */
  gap: 20px; 
  padding: 10px;
  justify-content: center;
}

.forecast-day {
  flex: 1;
  min-width: 150px; 
  max-width: 200px; 
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.forecast-day p {
  margin: 5px 0;
}

.forecast-day {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.forecast-day:hover {
  background-color: #f0f0f0;
}

.forecast-day.highlighted {
  background-color: #d0e0f0; 
  border-color: #007bff; 
}

.day-detail {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .weather-form input,
  .weather-form button {
    max-width: 100%; 
    font-size: 14px; 
  }
  
  .weather-form button {
    max-width: 150px;
  }

  .forecast-container {
    align-items: center;
    flex-direction: column;
    gap: 10px; 
  }

  .forecast-day {
    min-width: auto; 
    width: 100%; 
    min-width: 50px; 
    max-width: 300px; 
  
  }
}

@media (max-width: 480px) {
  .weather-info img {
    width: 40px; 
    height: 40px;
  }
}
